@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://use.fontawesome.com/releases/v5.15.2/css/all.css");

.navigation-container {
    position: fixed;
    width: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.7);
}

.header-logo {
    font-size: 40px;
    line-height: 80px;
    margin: 10px 0;
    color: #041a31;
}

.navbar-items {
    float: right;
}
.navbar-item {
    padding: 0 10px;
    margin-right: 20px;
    display: inline-block;
    line-height: 80px;
}

.navbar-item a {
    color: #041a31;
    text-transform: uppercase;
}

.navbar-item a:hover {
    color: #062340;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #041a31;
    float: right;
    line-height: 80px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }

.btn {
    font-family: "Lato", sans-serif;
    font-size: 17px;
    line-height: 29px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
}
.navbar-item-btn{
    display: inline-block;
}

.btn-light {
    background-color: #8cdcfe;
    color: #041a31;
}

.btn-light:hover {
    background-color: #1a354f;
    color: #f3f5fb;
    transition: all 0.2s ease 0s;
}
.btn-dark {
    background-color: #041a31;
    color: #f3f5fb;
}

.btn-dark:hover {
    background-color: #8ad9fb;
    color: #041a31;
    transition: all 0.2s ease 0s;
}

/* Slideshow container */
.slideshow-container {
    width: 100%;
    position: relative;
    margin: 0;
    background-color: rgb(4, 26, 49);
}

.mySlides {
    display: none;
}

.mySlides img {
    vertical-align: middle;
    height: 100%;
}
/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #f3f5fb;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dots-wrapper {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.kind-cat-container {
    background-color: #041a31;
}

.kind-cat-wrapper {
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.kind-cat-wrapper-title {
    color: #f3f5fb;
    margin: 0 auto;
}

.kind-cat-wrapper .content {
    display: flex;
    justify-content: space-between;
    color: #f3f5fb;
}

.kind-cat-wrapper .content .type {
    width: 25%;
}

.kind-cat-wrapper .content .type p {
    height: 30%;
}

.kind-cat-wrapper .content .type h3 {
    color: #8cdcfe;
}

.kind-cat-wrapper .content i {
    color: #8cdcfe;
    font-size: 50px;
}
/* .separator {
    display: inline-block;
    position: relative;
    height: 3px;
    width: 52px;
    top: -20px;
    background-color: #f3f5fb;
} */

.about-us-wrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 50px 0;
}

.about-us-content {
    width: 50%;
    text-align: left;
}

.about-us-image {
    width: 40%;
}

.about-us-image img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0px 0px 15px -4px #000000;
}

.contacts {
    color: #f3f5fb;
    background-color: #041a31;
}

.contacts-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 50px 0;
}

.contacts-info-title {
    text-align: center;
}

.contacts-content {
    width: 50%;
}

.contacts-content p {
    padding: 10px 0;
}

.contacts-content .btn {
    margin: 20px 0;
}

.contact-info-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.contact-info-content i {
    font-size: 40px;
    padding: 20px;
    color: #8cdcfe;
}
.contact-info-content p {
    margin: 0;
}
.form-container {
    padding-top: 50px;
}

.form-container-title {
    text-align: center;
}

form {
    width: 100%;
}

input[type="text"],
input[type="email"],
#message {
    font-family: "Lato", sans-serif;
    padding: 12px;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    box-shadow: 0px 0px 10px -7px #5d5252;
    border: none;
    font-size: 17px;
    line-height: 29px;
}

input[type="text"],
input[type="email"] {
    width: 49%;
}

input[type="email"] {
    float: right;
}

textarea {
    width: 100%;
    height: 200px;
    border: none;
    box-shadow: 0px 0px 10px -7px #5d5252;
}

input[type="submit"] {
    float: right;
    margin-bottom: 50px;
}

.footer-container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #041a31;
}

.footer-wrapper {
    max-width: 1250px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-and-copyright-wrapper {
    display: flex;
    align-items: center;
    font-size: 13px;
}

.copyright {
    color: #7d8895;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

.footer-links {
    display: flex;
}

.footer-links ul {
    display: flex;
    align-items: center;
    padding: 0;
}

.footer-links ul li {
    padding: 10px;
    font-size: 13px;
}

.footer-links ul li a {
    color: #f3f5fb;
}

.footer-links ul li i {
    font-size: 17px;
    line-height: 29px;
    color: #f3f5fb;
    cursor: pointer;
}

.footer-links ul li i:hover {
    color: #8cdcfe;
}
@media all and (max-width: 600px){
    .checkbtn{
        display: block;
    }
    .navbar-items{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #8cdcfe;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .navbar-item{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .navbar-item a{
        font-size: 20px;
    }
    .navbar-item a:hover{
background-color: none;
    }
    #check:checked ~ ul{
        left: 0;
      }
}
@media all and (max-width: 600px) {
    .kind-cat-wrapper {
        flex-direction: column;
        align-items: center;
    }
}
@media all and (max-width: 600px) {
    .kind-cat-wrapper .content .type {
        width: auto;
        margin: 0;
    }
}
@media all and (max-width: 600px) {
    .about-us-wrapper {
        flex-direction: column-reverse;
    }
}
@media all and (max-width: 600px) {
    .about-us-content {
        width: auto;
    }
}
@media all and (max-width: 600px) {
    .about-us-image {
        width: 100%;
    }
}
@media all and (max-width: 600px) {
    .contacts-wrapper {
        flex-direction: column;
    }
}
@media all and (max-width: 600px) {
    .contacts-content {
        width: auto;
        text-align: center;
        margin: 0 auto;
        width: auto;
    }
}
@media all and (max-width: 600px) {
    input[type="text"],
    input[type="email"] {
        width: 100%;
    }
}
@media all and (max-width: 600px) {
    .footer-wrapper {
        flex-direction: column-reverse;
    }
    .footer-links {
        flex-direction: column;
        align-items: center;
    }
}
